1) Start by importing all important libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

2) Read the csv file and assign it to a variable .

In [36]:
df=pd.read_csv('Cars (1).csv')

3) Display shape of dataframe

In [3]:
df.shape

(398, 9)

4) Print all columns of dataframe

In [15]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [5]:
list(df.columns)

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'name']

6) Set the 'name' column as the index of dataframe

In [37]:
df1 = df.set_index('name')

In [38]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

7) Print a list of all the unique mpg values

In [8]:
df['mpg'].unique()

array([18. , 15. , 16. , 17. , 14. , 24. , 22. , 21. , 27. , 26. , 25. ,
       10. , 11. ,  9. , 28. , 19. , 12. , 13. , 23. , 30. , 31. , 35. ,
       20. , 29. , 32. , 33. , 17.5, 15.5, 14.5, 22.5, 24.5, 18.5, 29.5,
       26.5, 16.5, 31.5, 36. , 25.5, 33.5, 20.5, 30.5, 21.5, 43.1, 36.1,
       32.8, 39.4, 19.9, 19.4, 20.2, 19.2, 25.1, 20.6, 20.8, 18.6, 18.1,
       17.7, 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3, 21.6, 16.2,
       19.8, 22.3, 17.6, 18.2, 16.9, 31.9, 34.1, 35.7, 27.4, 25.4, 34.2,
       34.5, 31.8, 37.3, 28.4, 28.8, 26.8, 41.5, 38.1, 32.1, 37.2, 26.4,
       24.3, 19.1, 34.3, 29.8, 31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3,
       43.4, 36.4, 44.6, 40.9, 33.8, 32.7, 23.7, 23.6, 32.4, 26.6, 25.8,
       23.5, 39.1, 39. , 35.1, 32.3, 37.7, 34.7, 34.4, 29.9, 33.7, 32.9,
       31.6, 28.1, 30.7, 24.2, 22.4, 34. , 38. , 44. ])

8) Create a column which contains the horsepower divided by weightas its metric and make this new column the index.

In [39]:
df['metric']=df['horsepower']/df['weight']

In [40]:
df2=df.set_index('metric')

In [41]:
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
metric,,,,,,,,,
0.037100,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
0.044679,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
0.043655,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
0.043694,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
0.040591,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
0.030824,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
0.024413,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
0.036601,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
0.030095,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
0.030147,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

GRADED QUESTIONS

1. What is name of car that has the highest horsepower?

In [43]:
df1['horsepower'].sort_values(ascending=False).head(1)

name
pontiac grand prix    230.0
Name: horsepower, dtype: float64

2. How many cars have mpg â‰¥ 35?

In [44]:
(df['mpg']>=35).sum()

np.int64(36)

3. What is the most common origin for cars with horsepower > 100 and weight < 3000?

In [45]:
df[(df['horsepower'] > 100) & (df['weight'] < 3000)]['origin'].value_counts().idxmax()

'usa'

4. What is the mean acceleration of cars from Japan? (rounded to 2 decimals)

In [46]:
filter_japan=df[df['origin']=='japan']

In [47]:
final_ans=round(filter_japan['acceleration'].mean(),2)

In [48]:
final_ans

np.float64(16.17)

5. Which year had the highest average mpg?

In [49]:
df.groupby('model_year')['mpg'].mean().sort_values(ascending=False).head(1)

model_year
80    33.696552
Name: mpg, dtype: float64